---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&From=9718033633&To=1111dedrf11
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMzYTk0NmI2ZDYwODFhNzQyMmYxODZiMjgxNTY5OWNjYzplNWY2NDYxMDAxYjVmY2RmNWY2NWM4ZGI0ZGNjYzMwMQ==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.082'
      Twilio-Request-Id:
      - RQ3bc4dc6fc5be4ae18d1e803fad5e8800
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 1111dedrf11 is not a
        valid phone number.", "more_info": "https://www.twilio.com/docs/errors/21211",
        "status": 400}'
  recorded_at: Wed, 01 Mar 2017 01:59:52 GMT
recorded_with: VCR 3.0.3
